{% extends 'myapp/common.html' %}

{% block title%} About Us {% endblock %}
               {% block css %}

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Great Vibes:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
      body {
        margin: 0;
        line-height: normal;

      }
.all{
margin-top: 1px;
margin-left: -40px;

}
.img-round {
    border-radius: 50%;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #28a745;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #6c665c;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #28a745;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

.allme{
margin-top: 300px;

}


                 {% endblock %}




{% block body%}


<div class="allme">
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>Our Restaurant</span></h2>
          <p>May we achieve what we desire, as every moment unfolds with its own set of challenges and opportunities. Let us embrace all experiences with ease and find joy and fulfillment in every aspect of life.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Delicious</h4>
              <p>Discover exquisite flavors at our restaurant, where every dish is a culinary masterpiece</p>
            </div>
          </div>
             <img
        style="
          position: absolute;
          top: 40px;
          left: 159px;
          width: 119px;
          height: 95px;
          object-fit: cover;
        "
        alt=""
        src="/static/images/logo_background.png"
      />

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Ambiance</h4>
              <p>Immerse yourself in the cozy ambiance, where every detail enhances your dining experience</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Service</h4>
              <p>Experience unparalleled hospitality with our attentive service, ensuring every visit is memorable and delightful</p>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>



































<div class="all">
    <div
      style="
        width: 100%;
        position: relative;
        background-color: #fff;
        height: 1024px;
        overflow: hidden;
        text-align: left;
        font-size: 26px;
          background-color: #e9ecef;
        font-family: Inter;
      "
    >
      <div
        style="
          position: absolute;
          top: 585px;
          left: 63px;
          border-radius: 140px 140px 41px 41px;
          background-color: #53ec62;
          width: 492px;
          height: 362px;
        "
      ></div>
      <b
        style="
          position: absolute;
          top: 401px;
          left: 756px;
          font-size: 60px;
          line-height: 131.02%;
          display: inline-block;
          width: 635px;
        "
        >What Our Customers Say About Us</b
      >
      <div
        style="
          position: absolute;
          top: 588px;
          left: 756px;
          line-height: 159%;
          font-weight: 500;
          color: #555;
          display: inline-block;
          width: 655px;
        "
      >
        “I had the pleasure of one bite at Foodi last night, and I'm still
        raving about the experience! The attention to detail in presentation and
        service was impeccable”
      </div>
<a href="{% url 'rev123' %}" style="text-decoration: none; color: black;">
    <div style="position: absolute; top: 778px; left: 994px; font-weight: 600; cursor: pointer;">
        Customer Feedback
    </div>
</a>

      <div
        style="
          position: absolute;
          top: 822px;
          left: 1033px;
          font-size: 24px;
          font-weight: 600;
          color: #454545;
        "
      >
        4.9
      </div>
      <div
        style="
          position: absolute;
          top: 822px;
          left: 1088px;
          font-size: 24px;
          font-weight: 500;
          color: #807e7e;
        "
      >
        (18.6k Reviews)
      </div>
      <img
        style="
          position: absolute;
          top: 824px;
          left: 994px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        "
        alt=""
       src="/static/images/fisrstar.svg"
      />

      <div
        style="position: absolute; top: 585px; left: 227px; font-weight: 600"
      >
        Chef Image
      </div>
      <img class="img-round"
        style="
          position: absolute;
          top: 778px;
          left: 756px;
          width: 80px;
          height: 80px;
          object-fit: contain;
        "
        alt=""
        src="/static/images/i1.png"
      />

      <img class="img-round"
        style="
          position: absolute;
          top: 778px;
          left: 813px;
          width: 80px;
          height: 80px;
          object-fit: cover;
        "
        alt=""
         src="/static/images/i2.png"
      />

      <img class="img-round"
        style="
          position: absolute;
          top: 778px;
          left: 870px;
          width: 80px;
          height: 80px;
          object-fit: cover;
        "
        alt=""
         src="/static/images/i3.png"
      />

      <img
        style="
          position: absolute;
          top: 216px;
          left: 63px;
          width: 466px;
          height: 731px;
          object-fit: contain;
        "
        alt=""
         src="/static/images/mask-group@2x.png"
      />

      <div
        style="
          position: absolute;
          top: 710.9px;
          left: 29px;
          font-size: 44px;
          font-weight: 500;
          text-align: center;
          transform: rotate(-17.03deg);
          transform-origin: 0 0;
        "
      >
        😋
      </div>
      <div
        style="
          position: absolute;
          top: 688px;
          left: 571.5px;
          font-size: 40px;
          font-weight: 500;
          text-align: center;
          transform: rotate(80.99deg);
          transform-origin: 0 0;
        "
      >
        🍕
      </div>
      <img
        style="
          position: absolute;
          top: 887px;
          left: 380px;
          border-radius: 50px;
          width: 230px;
          height: 79px;
        "
        alt=""
         src="/static/images/rectangle-41.svg"
      />

      <div
        style="
          position: absolute;
          top: 926px;
          left: 427px;
          font-size: 20px;
          font-weight: 600;
          color: #202020;
        "
      >
        Our Best Chef 😁
      </div>

    </div>
</div>








{% endblock %}

