<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>One Bite Foods</title>
    <!-- <link rel="stylesheet" href="index2.css" /> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Great Vibes:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />

    <style>
      body {
        margin: 0;
        line-height: normal;
        overflow: hidden;
        background-color: #DDD2D9;
      }
      .wel{
        margin-top: 50px;
        margin-left: 100px;
        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>
  </head>
  <body>
   <div class="wel">Welcome,</div>
    
  </body>
</html>
