{% extends 'myapp/admin_page.html' %}
{% block welcome %}{% endblock %}
{% block title %}{% endblock %}


 {% block css %}
 .review-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .username {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .text {
            color: #333;
        }
{% endblock %}

{% block content %}
    <h1>Reviews</h1>
    {% for review in reviews %}
        <div class="review-box">
            <div class="username">{{ review.username }}</div>
            <div class="text">{{ review.text }}</div>
        </div>
    {% endfor %}
{% endblock %}


