{% extends 'myapp/admin_page.html' %}
{% block welcome %}{% endblock %}
{% block title %}Reviews{% endblock %}

{% block css %}

      /* CSS styles for table */
        table {
            width: 70%;
            border-collapse: collapse;
            margin-left: 300px;
            margin-top: 200px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .pp{
        position: absolute;
        font-size: 30px;
        left: 650px;
        top: 76px;
        }

{% endblock %}

{% block content %}
    <div class="pp">Reviews</div>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.username }}</td>
                <td>{{ review.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
