{% extends 'myapp/common.html' %}

{% block title%} Menu  {% endblock %}

  {% block head%}


<style>
  .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4CAF50; /* Green */
  transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.button:hover {
  background-color: #45a049; /* Darker Green */
}
</style>
{% endblock %}





{% block body%}


<button class="button">Order Now</button>






{% endblock %}