{% extends 'myapp/common.html' %}

{% block title%} Menu  {% endblock %}

  {% block head%}
<link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Great Vibes:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
{% endblock %}






  {% block css %}
      body {
        margin: 0;
        line-height: normal;

      }
{% endblock %}


{% block body%}
<div
      style="
        width: 100%;
        position: relative;
        background-color: #fff;
        height: 1611px;
        overflow: hidden;
        text-align: left;
        font-size: 30px;
         background-color: #e9ecef;
        font-family: Inter;
      "
    >
      <div
        style="
          position: absolute;
          top: 184px;
          left: 62px;
          font-size: 36px;
          font-weight: 600;
          display: inline-block;
          width: 518px;
          height: 89px;
        "
      >
        What would you like to order
      </div>
      <div
        style="
          position: absolute;
          top: 412px;
          left: 843px;
          font-size: 36px;
          font-weight: 600;
          display: inline-block;
          width: 240px;
          height: 71px;
        "
      >
        <p style="margin: 0">Desserts</p>
      </div>
      <div
        style="
          position: absolute;
          top: 530px;
          left: 843px;
          font-size: 36px;
          font-weight: 600;
          display: inline-block;
          width: 240px;
          height: 71px;
        "
      >
        <p style="margin: 0">Drinks</p>
      </div>
      <b
        style="
          position: absolute;
          top: 249px;
          left: 62px;
          display: inline-block;
          color: #a49f9f;
          width: 447px;
          height: 66px;
        "
        >Order what you want..</b
      >
      <div
        style="
          position: absolute;
          top: 173px;
          left: 572px;
          font-size: 48px;
          font-weight: 600;
          color: #1ded0b;
          display: inline-block;
          width: 280px;
          height: 76px;
        "
      >
        Today ?
      </div>
      <img
        style="
          position: absolute;
          top: 333px;
          left: 490px;
          width: 139px;
          height: 102px;
          object-fit: cover;
        "
        alt=""
        src="/static/images/pngwing-4@2x.png"
      />

      <div
        style="
          position: absolute;
          top: 340px;
          left: 22px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
          width: 326px;
          height: 326px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 569px;
          left: 121px;
          font-weight: 600;
          color: #1e1e1e;
          text-align: center;
        "
      >
        Main Dish
      </div>
      <div
        style="
          position: absolute;
          top: 379px;
          left: 109px;
          border-radius: 50%;
          background-color: #c1f1c6;
          width: 153px;
          height: 153px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 537px;
          left: 133px;
          font-size: 22px;
          font-weight: 500;
          color: #555;
          text-align: center;
        "
      >
        (86 dishes)
      </div>
      <div
        style="
          position: absolute;
          top: 478px;
          left: 151px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(12px);
          width: 71px;
          height: 15px;
        "
      ></div>
      <img
        style="
          position: absolute;
          top: 405px;
          left: 116px;
          width: 139px;
          height: 102px;
          object-fit: cover;
        "
        alt=""
         src="/static/images/pngwing-4@2x.png"
      />

      <div
        style="
          position: absolute;
          top: 340px;
          left: 385px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
          width: 326px;
          height: 326px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 566px;
          left: 461px;
          font-weight: 600;
          color: #1e1e1e;
        "
      >
        Break Fast
      </div>
      <div
        style="
          position: absolute;
          top: 379px;
          left: 445px;
          border-radius: 50%;
          background-color: #c1f1c6;
          width: 153px;
          height: 153px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 537px;
          left: 456px;
          font-size: 22px;
          font-weight: 500;
          color: #555;
          text-align: center;
        "
      >
        (12 break fast)
      </div>
      <div
        style="
          position: absolute;
          top: 463.8px;
          left: 473.7px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(10px);
          width: 64px;
          height: 14px;
          transform: rotate(-3.19deg);
          transform-origin: 0 0;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 445.5px;
          left: 534.5px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(10px);
          width: 41.2px;
          height: 22.1px;
          transform: rotate(36.38deg);
          transform-origin: 0 0;
        "
      ></div>
      <img
        style="
          position: absolute;
          top: 417px;
          left: 466px;
          width: 110px;
          height: 72px;
          object-fit: cover;
        "
        alt=""
          src="/static/images/pngwing-6@2x.png"

      />

      <div
        style="
          position: absolute;
          top: 344px;
          left: 737px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
          width: 326px;
          height: 326px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 566px;
          left: 848px;
          font-weight: 600;
          color: #1e1e1e;
        "
      >
        Dessert
      </div>
      <div
        style="
          position: absolute;
          top: 383px;
          left: 823px;
          border-radius: 50%;
          background-color: #c1f1c6;
          width: 153px;
          height: 153px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 541px;
          left: 842px;
          font-size: 22px;
          font-weight: 500;
          color: #555;
          text-align: center;
        "
      >
        (48 dessert)
      </div>
      <div
        style="
          position: absolute;
          top: 491px;
          left: 877px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(10px);
          width: 46px;
          height: 13px;
        "
      ></div>
      <img
        style="
          position: absolute;
          top: 411px;
          left: 844px;
          width: 111px;
          height: 98px;
          object-fit: cover;
        "
        alt=""
          src="/static/images/pngwing-3@2x.png"
      />

      <div
        style="
          position: absolute;
          top: 340px;
          left: 1094px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
          width: 326px;
          height: 326px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 568px;
          left: 1188px;
          font-weight: 600;
          color: #1e1e1e;
        "
      >
        Full Menu
      </div>
      <div
        style="
          position: absolute;
          top: 379px;
          left: 1180px;
          border-radius: 50%;
          background-color: #c1f1c6;
          width: 153px;
          height: 153px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 537px;
          left: 1204px;
          font-size: 22px;
          font-weight: 500;
          color: #555;
          text-align: center;
        "
      >
        (255 Items)
      </div>
      <div
        style="
          position: absolute;
          top: 484px;
          left: 1238px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(10px);
          width: 30px;
          height: 12px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 487px;
          left: 1262px;
          border-radius: 50%;
          background-color: #2b2b2b;
          filter: blur(10px);
          width: 30px;
          height: 12px;
        "
      ></div>
      <img
        style="
          position: absolute;
          top: 409px;
          left: 1218px;
          width: 77px;
          height: 92px;
          object-fit: cover;
        "
        alt=""
               src="/static/images/pngwing-7@2x.png"
      />

      <b
        style="
          position: absolute;
          top: 808px;
          left: 90px;
          font-size: 20px;
          letter-spacing: 0.18em;
          text-transform: uppercase;
          color: #ff6868;
        "
        >Special Dishes</b
      >
      <b
        style="
          position: absolute;
          top: 857px;
          left: 85px;
          font-size: 60px;
          line-height: 131.52%;
          display: inline-block;
          width: 580px;
        "
        >Standout Dishes From Our Menu</b
      >
      <div
        style="
          position: absolute;
          top: calc(50% - 2638.5px);
          left: 1253px;
          font-size: 20px;
          font-weight: 500;
          font-family: Poppins;
          color: #fff;
        "
      >
        About Us
      </div>
      <b
        style="
          position: absolute;
          top: 42px;
          left: 39px;
          font-size: 40px;
          display: flex;
          font-family: Poppins;
          color: #100e0e;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 160px;
          height: 38px;
        "
        >LOGO</b
      >
      <div
        style="
          position: absolute;
          top: 1072px;
          left: 2px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 9px 42px rgba(0, 0, 0, 0.08);
          width: 446px;
          height: 523px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 1072px;
          left: calc(50% - 232px);
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 9px 42px rgba(0, 0, 0, 0.08);
          width: 446px;
          height: 523px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 1072px;
          left: 973px;
          border-radius: 40px;
          background-color: #fff;
          box-shadow: 2px 9px 42px rgba(0, 0, 0, 0.08);
          width: 446px;
          height: 523px;
        "
      ></div>
      <div
        style="position: absolute; top: 1410px; left: 48px; font-weight: 600"
      >
        Fattoush salad
      </div>
      <div
        style="position: absolute; top: 1410px; left: 534px; font-weight: 600"
      >
        Vegetable salad
      </div>
      <div
        style="position: absolute; top: 1410px; left: 1019px; font-weight: 600"
      >
        Egg vegi salad
      </div>
      <div
        style="
          position: absolute;
          top: 1520px;
          left: 48px;
          font-weight: 600;
          font-size: 24px;
          color: #ff6868;
        "
      >
        <span>$</span>
        <span style="font-size: 30px; color: #000">24.00</span>
      </div>
      <div
        style="
          position: absolute;
          top: 1520px;
          left: 534px;
          font-weight: 600;
          font-size: 24px;
          color: #ff6868;
        "
      >
        <span>$</span>
        <span style="font-size: 30px; color: #000">26.00</span>
      </div>
      <div
        style="
          position: absolute;
          top: 1520px;
          left: 366px;
          font-size: 24px;
          font-weight: 600;
          color: #454545;
        "
      >
        4.9
      </div>
      <div
        style="
          position: absolute;
          top: 1520px;
          left: 853px;
          font-size: 24px;
          font-weight: 600;
          color: #454545;
        "
      >
        4.6
      </div>
      <div
        style="
          position: absolute;
          top: 1520px;
          left: 1338px;
          font-size: 24px;
          font-weight: 600;
          color: #454545;
        "
      >
        4.5
      </div>
      <div
        style="
          position: absolute;
          top: 1465px;
          left: 48px;
          font-size: 22px;
          font-weight: 600;
          color: #555;
        "
      >
        Description of the item
      </div>
      <div
        style="
          position: absolute;
          top: 1465px;
          left: 534px;
          font-size: 22px;
          font-weight: 600;
          color: #555;
        "
      >
        Description of the item
      </div>
      <div
        style="
          position: absolute;
          top: 1465px;
          left: 1019px;
          font-size: 22px;
          font-weight: 600;
          color: #555;
        "
      >
        Description of the item
      </div>
      <img
        style="
          position: absolute;
          top: 1523px;
          left: 327px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        "
        alt=""
             src="/static/images/fisrstar.svg"
      />

      <img
        style="
          position: absolute;
          top: 1523px;
          left: 814px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        "
        alt=""
            src="/static/images/fisrstar.svg"
      />

      <img
        style="
          position: absolute;
          top: 1523px;
          left: 1299px;
          width: 24px;
          height: 24px;
          overflow: hidden;
        "
        alt=""
         src="/static/images/fisrstar.svg"
      />

      <div
        style="
          position: absolute;
          top: 1517px;
          left: 1019px;
          font-weight: 600;
          font-size: 24px;
          color: #ff6868;
        "
      >
        <span>$</span>
        <span style="font-size: 30px; color: #010101">23.00</span>
      </div>
      <img
        style="
          position: absolute;
          top: 1109px;
          left: 87px;
          width: 276px;
          height: 276px;
          object-fit: cover;
        "
        alt=""
         src="/static/images/fattoush-salad@2x.png"
      />

      <img
        style="
          position: absolute;
          top: 1109px;
          left: 572px;
          width: 276px;
          height: 276px;
          object-fit: cover;
        "
        alt=""
          src="/static/images/vegetable-salad@2x.png"
      />

      <img
        style="
          position: absolute;
          top: 1107px;
          left: 1056px;
          width: 276px;
          height: 278px;
          object-fit: cover;
        "
        alt=""
                  src="/static/images/egg-salad@2x.png"
      />
    </div>

{% endblock %}