{% extends 'myapp/esewa.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: #f8f8f8; padding: 20px;">
    <div style="max-width: 800px; width: 100%; background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
        <h3 style="text-align: center; font-size: 30px; color: #000; margin-bottom: 30px; margin-top: 10px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">Order List</h3>
        <table class="table table-striped" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden; margin-left:113px;">
            <thead style="background-color: #008000; color: #fff;">
                <tr>
                    <th scope="col" style="padding: 15px;">Order #</th>
                    <th scope="col" style="padding: 15px;">Name</th>
                    <th scope="col" style="padding: 15px;">Paid</th>
                    <th scope="col" style="padding: 15px;">Paid Amount</th>
                    <th scope="col" style="padding: 15px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% if not order.is_paid %}
                <tr>
                    <th scope="row" style="padding: 15px;">{{order.order_number}}</th>
                    <td style="padding: 15px;">{{order.user_name}}</td>
                    <td style="padding: 15px;">{{order.is_paid}}</td>
                    <td style="padding: 15px;">{{order.paid_amount}}</td>
                    <td style="padding: 15px;"><a href="{% url 'order_checkout' order.id %}"><button class="btn btn-primary" style="background-color: #008000; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer; color: #fff; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Check Out</button></a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}